<h1>Editing planning session</h1>

<%= turbo_frame_tag "modal" do %>
  <%= render "form", planning_session: @planning_session %>
<% end %>

<br>

<div>
  <%= link_to "Show this planning session", @planning_session %> |
  <%= link_to "Back to planning sessions", planning_sessions_path %>
</div>
