<div class="px-5 lg:gap-16 lg:px-16">
  <h1 class="mt-4 max-w-5xl text-slate-900 text-3xl sm:text-6xl tracking-tight font-bold dark:text-white">Planning Sessions</h1>

  <div class="space-y-4">
    <%= link_to 'Create New Planning Session', new_planning_session_path, data: { turbo_frame: 'modal' }, class: 'bg-blue-500 inline-block text-white my-3 px-6 py-3 rounded-lg text-lg hover:bg-blue-600' %>

    <div id="planning_sessions" class="mt-6 border-t border-gray-300">
      <% @planning_sessions.each do |planning_session| %>
        <%= render planning_session %>
      <% end %>
    </div>
  </div>
</div>
