<div class="flex space-x-4">
  <div><%= planning_session&.stories.size %>  Issues</div>
  <div><%= planning_session&.stories&.incomplete.size %> Unpointed Issues</div>
  <div><%= planning_session.total_votes %> Total Points</div>
</div>
