<h1 class="text-3xl font-bold mb-6">Add a Story</h1>

<%= turbo_frame_tag @story, do %>
  <%= render partial: 'planning_sessions/stories/form', locals: { story: @story, planning_session: @planning_session } %>
<% end %>
